version: "3.8"
services:

  mysql:
    image: mysql:8.0
    container_name: mysql_api
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: testdb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  api:
    build: .
    container_name: api_mysql
    restart: always
    ports:
      - "3000:3000"
    env_file: .env
    depends_on:
      - mysql

volumes:
  mysql_data:
